/*
  Layout

  Styles for managing the structural hierarchy of the site.
  Hydeout features the large colored sidebar from Hyde that houses the
  site name, intro, and "footer" content. Sidebar is on top of content on
  mobile and expands into sidebar on larger width displays.

  Sidebar CSS assumes HTML looks like this for post pages:

    body
    > #sidebar
      > header (primary sidebar content -- i.e. title)
        > h1 (home page only, otherwise div or span)
      > secondary nav content we may want to hide on certain pages
    > .container
      > h1 (non-home page)
      > .content

  Basic approach is to color in body, make sidebar background transparent,
  and then fill in the .container or .content elements depending on how far
  we want the sidebar or header to stretch.
*/

body {
  color: $gray-5;
  background-color: #ddd;

  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;

  @media (min-width: $large-breakpoint) {
    flex-direction: row;
    height: 100vh;
    overflow: auto;
    > * { max-height: 100vh; overflow: auto; }
  }

}

.index-more-link {
  display: inline-block;
  width: 100%;
  text-align: right;
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: $section-spacing;

  header ~ *, header ~ nav, p.lead {
    display: none;
  }

  .category-link, .page-link {
    color: $gray-5;

    &:hover, &:focus {
      color: $gray-4;
    }
  }

  @media (min-width: $large-breakpoint) {
    width: $sidebar-width;
    text-align: left;
    > *:last-child {
      margin-bottom: 0;
    }

    p.lead, header ~ * {
      display: block;
    }

    header ~ nav {
      display: flex;
    }
  }
}

.site-title {
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-size: $large-font-size;
  color: $orange-title;
  margin-top: 0;
  margin-bottom: $heading-spacing;

  a { color: inherit; }

  .back-arrow { margin-right: 0.5rem; }

  @media (min-width: $large-breakpoint) {
    font-size: 2.2em;

    .back-arrow { display: none; }
  }
}

.sidebar-footer {
  margin-top: auto;

  .page-link {
    display: block;

    @media (min-width: $large-breakpoint) {
      margin-top: 10px;
    }
  }
}

.page-title {
  text-align: center;
  margin-bottom: 30px;
}

.post-title {
  text-align: right;

  @media (min-width: $large-breakpoint) {
    text-align: left;
  }
}

.home .post-title {
  margin-bottom: 20px;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  > .content {
    flex-grow: 1;
  }

  > header {
    background: transparent;
    margin: ($heading-spacing - $section-spacing)
            $section-spacing
            $section-spacing;

    h1, h2 {
      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (min-width: $large-breakpoint) {
      color: inherit;
      margin: 0;
      h1, h2 {
        color: inherit;

        &:last-child {
          margin-bottom: $heading-spacing;
        }
      }
    }
  }

  @media (min-width: $large-breakpoint) {
    background: $body-bg;
    color: $body-color;
    padding: $section-spacing * 2;
    height: 100vh;

    > * {
      padding: 0;
    }
  }

}

.content {
  background: $body-bg;
  color: $body-color;
  padding: $section-spacing;

  @media (min-width: $large-breakpoint) {
    padding: 0;
  }
}


/* -----------------------------------------------------------
  Mobile view for home page)
----------------------------------------------------------- */

.home #sidebar {

  flex-direction: row;
  flex-wrap: wrap;

  // Bigger title
  .site-title {
    font-size: 3rem;
    color: $orange-title;

    @media (min-width: $large-breakpoint) {
      font-size: 2.2em;
    }
  }

  // Show secondary nav content + lead
  header ~ *, p.lead {
    display: block;
  }

  header {
    width: 50%;

    ~ nav {
      display: none;
    }
  }

  .sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 50%;
    padding-right: 10px;

    @media (min-width: $large-breakpoint) {
      display: inline-block;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding-right: 0;
    }
  }

  // Slightly more bottom padding to compensate for heading not match 100% of
  // line-height on top
  > *:last-child {
    margin-bottom: 0.5rem;
  }

  @media (min-width: $large-breakpoint) {
    width: $sidebar-width;
    flex-direction: column;

    header ~ nav {
      display: flex;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}


/* -----------------------------------------------------------
  Sidebar links + nav
----------------------------------------------------------- */

#sidebar a {
  svg {
    fill: $gray-5;
  }

  &:hover, &:focus, &.active {
    svg { fill: $gray-4; }
  }

  &:hover, &:focus {
    &.icon {
      text-decoration: none;
    }
  }

  &.active {
    font-weight: bold;
  }
}

#sidebar nav {
  display: flex;
}

#sidebar-nav-links {
  flex-flow: column nowrap;
}

#sidebar-icon-links {
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;

  @media (min-width: $large-breakpoint) {
    margin-left: -0.25em;
    justify-content: flex-start;
  }
}

#sidebar nav > * {
  display: block;
  line-height: 1.75;
}

#sidebar nav > .icon {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 0.25em;
}

/* -----------------------------------------------------------
  Reverse layout

  Flip the orientation of the page by placing the `#sidebar`
  on the right.
----------------------------------------------------------- */

@if $layout-reverse {
  @media (min-width: $large-breakpoint) {
    .container {
      order: -1;
    }
  }
}