@font-face {
  font-family: 'comic_relief';
  src: url('../fonts/bpl/ComicRelief-Regular.woff2') format('woff2'),
       url('../fonts/bpl/ComicRelief-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

