$link-color: darkblue;
$link-to-note-color: blue;
$hr-color: lightgray;
$max-width: 56rem;

.bpl-content {
  font-family: 'comic_relief', sans-serif;

  font-size: $root-font-size;
  line-height: $root-line-height;

  padding: $section-spacing;
  width: 100%;

  a, a:visited {
    color: $link-color;
    text-decoration: none;
  }

  hr {
    color: $hr-color;
    width: 80%;
  }

  @media (min-width: $medium-breakpoint) {
    font-size: $large-font-size;
    padding: 0;
  }
}

.bpl-post-header {
  margin: auto;
  max-width: $max-width;
}

.bpl-cover {
  margin: 0;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.bpl-post-title {
  color: $dark-gray;
  border: 1px solid green;

  font-size: 3rem;
  margin-top: 50px;

  @media (min-width: $medium-breakpoint) {
    margin-top: 80px;
  }
}

.bpl-meta-container {
  display: flex;
  justify-content: space-between;
}

.bpl-signature {
  border: 1px solid violet;
}

.bpl-menu {
  border: 1px solid orange;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.bpl-post-body {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;

  h2 { margin-top: 50px; }
  h3 { margin-top: 40px; }
  blockquote { font-style: italic; }
}

.bpl-meta {
  max-width: 300px;
  border: 1px solid blue;
}

.bpl-illustration {
  width: 100%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;

  figcaption {
    font-size: 0.9em;
    margin-top: 10px;
    font-style: italic;
  }
}

.bpl-illustration-tract {
  width: 100%;
  max-width: 430px;
}

.bpl-quote-page-number {
  text-align: right;
}

.bpl-end-text-line {
  margin-top: 150px;
}

.bpl-link-to-note {
  color: $link-to-note-color;
  margin-left: 8px;
}

.bpl-back-to-text-link {
  text-align: right;
}

.bpl-galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;

  figure {
    margin: 0;
    margin-bottom: 30px;
  }

  figcaption {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 10px;
  }

  img, figcaption {
    width: 100%;
    max-width: 500px;

    @media (min-width: $medium-breakpoint) {
      max-width: 400px;
    }
  }

  @media (min-width: $medium-breakpoint) {
    justify-content: space-between;
  }
}

.titre-remerciements {
  text-align: center;
}