$main-title-color: #464949;
$font-color: #292929;
$background-color: #F9F2F1;
$border-color: #daafa9;

$link-color: darkblue;
$link-to-note-color: blue;
$hr-color: lightgray;
$max-width: 56rem;

$main-font: 'Luciole';
// $title-font: 'Milk_And_Honey';
$title-font: 'SunlightDreams';

$small-breakpoint: 345px;

.bpl-main-container {
  background-color: $background-color;
}

.bpl-content {
  font-family: $main-font, sans-serif;
  color: $font-color;

  font-size: $root-font-size;
  line-height: $root-line-height;

  padding: $section-spacing;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%;

  a, a:visited {
    color: $link-color;
    text-decoration: none;
  }

  hr {
    background-color: $border-color;
    width: 80%;
    border: 0;
    height: 1px;
  }

  @media (min-width: $medium-breakpoint) {
    font-size: $large-font-size;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 130px;
  }
}

.bpl-cover {
  margin: 0;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.bpl-post-header {
  margin: auto;
  max-width: $max-width;
}

.bpl-main-title-container {
  width: fit-content;
  margin: auto;
  margin-bottom: 40px;

  @media (min-width: $medium-breakpoint) {
    margin-bottom: 50px;
  }
}

.bpl-main-title {
  font-family: $title-font, sans-serif;
  color: $main-title-color;

  font-size: 2.5rem;
  margin: 0;

  @media (min-width: $small-breakpoint) {
    font-size: 3rem;
  }

  @media (min-width: $medium-breakpoint) {
    font-size: 4rem;
  }
}

.bpl-menu-container {
  border: 1px solid $border-color;
  background-color: white;
  justify-content: space-between;
  margin-bottom: 4rem;

  @media (min-width: $medium-breakpoint) {
    display: flex;
  }
}

.bpl-menu-notes {
  margin-top: 15px;
}

.bpl-menu {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $border-color;

  @media (min-width: $medium-breakpoint) {
    border-bottom: none;
  }

  a, a:visited {
    color: $font-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bpl-meta {
  width: 100%;

  @media (min-width: $medium-breakpoint) {
    max-width: 300px;
    border-left: 1px solid $border-color;
  }
}

.bpl-signature-name {
  font-style: italic;
}

.bpl-signature {
  padding: 1.5rem 2rem;
  border-bottom: 1px solid $border-color;
}

.bpl-signature-links {
  margin-bottom: 0;
  margin-top: 0.5rem;

  a, a:visited {
    color: $font-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bpl-meta-dates {
  padding: 1.5rem 2rem;
}

.bpl-post-body {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}

.bpl-illustration {
  width: 100%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;

  figcaption {
    font-size: 0.9em;
    margin-top: 10px;
    font-style: italic;
  }
}

.bpl-illustration-tract {
  width: 100%;
  max-width: 430px;
}

.bpl-section-title {
  font-family: $title-font, sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 50px;

  @media (min-width: $medium-breakpoint) {
    font-size: 3rem;
    margin-top: 70px;
  }
}

.bpl-secondary-title {
  margin-top: 50px;
}

.bpl-tertiary-title {
  margin-top: 40px;
}

.bpl-quote {
  font-style: italic;
  background-color: white;
  padding: 1.4rem 1.6rem;
  margin-right: 0;
  margin-left: 0;

  p { margin: 0; }

  @media (min-width: $medium-breakpoint) {
    margin-left: 4rem;
  }
}

.bpl-quote-author {
 text-align: right;
}

.bpl-quote-page-number {
  text-align: right;
}

.bpl-end-text-line {
  margin-top: 250px;
}

.bpl-link-to-note {
  color: $link-to-note-color;
  margin-left: 6px;
}

.bpl-note-title {
  margin-top: 40px;
}

.bpl-back-to-text-link {
  text-align: right;
}

.bpl-galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;

  figure {
    margin: 0;
    margin-bottom: 30px;
  }

  figcaption {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 10px;
  }

  img, figcaption {
    width: 100%;
    max-width: 500px;

    @media (min-width: $medium-breakpoint) {
      max-width: 400px;
    }
  }

  @media (min-width: $medium-breakpoint) {
    justify-content: space-between;
  }
}

.bpl-thanks-end {
  margin-top: 3rem;
  margin-bottom: 3rem;
}