// Titre principal

@font-face {
  font-family: "Milk_And_Honey";
  src: url("../fonts/bpl/Milk-And-Honey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Texte

@font-face {
  font-family: "Luciole";
  src: url("../fonts/bpl/Luciole-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Luciole";
  src: url("../fonts/bpl/Luciole-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Luciole";
  src: url("../fonts/bpl/Luciole-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}