<div id="jsModal" class="modal">
  <div class="modal__overlay jsOverlay"></div>
  <div class="modal__container">
    <h1 class='contact-modal-title'>Contact</h1>
    <div class='contact-form-container'>
      <form action="https://formspree.io/remy.maucourt@yahoo.fr"
            method="POST"
            class='contact-form'>
        <input type="hidden" name="_language" value="fr" />
        <input type="email" name="_replyto" class='contact-form-mail' placeholder='Votre adresse mail'>
        <textarea name="message" class='contact-form-message' placeholder='Votre message'></textarea>
        <input type="text" name="_gotcha" style="display:none" />
        <input type="submit" value="Envoyer" class='contact-form-submit'>
      </form>
    </div>
    <button class="modal__close jsModalClose">&#10005;</button>
  </div>
</div>
