<div id="sidebar">
  <header class='sidebar-header'>
    <h1 class="site-title">
      <a href="{{ site.baseurl }}/">
        {{ site.title }}
      </a>
    </h1>

    {% include mobile-menu.html %}
  </header>

  <nav id="sidebar-nav-links">
    <a class="category-link {% if page.url == '/fablab' %} active{% endif %}"
       href="{{ site.baseurl }}/fablab">Fablab</a>

    <a class="category-link {% if page.url == '/dev' %} active{% endif %}"
       href="{{ site.baseurl }}/dev">Dev</a>
  </nav>

  <div class='sidebar-footer'>
    <a href="{{ site.professional_website }}" class="page-link" target="_blank">Site pro</a>

    <a href="#newsletterModal" class="jsModalTrigger sidebar-modal-trigger">Newsletter</a>

    <a class="page-link {% if page.url == '/about' %} active{% endif %}"
          href="{{ site.baseurl }}/about">À propos</a>

    <a href="#contactModal" class="jsModalTrigger sidebar-modal-trigger">Contact</a>

    {% include sidebar-icon-links.html %}
  </div>
</div>