@font-face {
  font-family: 'lobster';
  src: url('../fonts/lobster_1.3-webfont.woff2') format('woff2'),
       url('../fonts/lobster.otf') format('truetype'),
       url('../fonts/lobster_1.3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
