.contact-form-container {
  width: 90%;
  margin: auto;
  margin-top: 30px;

  @media (min-width: $medium-breakpoint) {
    width: 80%;
    margin: 10px auto;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-mail {
  margin-bottom: 20px;
  border-radius: 0;
  border: 1px solid $gray-3;
  padding: 12px;
  font-size: 14px;
}

.contact-form-message {
  margin-bottom: 20px;
  height: 150px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid $gray-3;
}

.contact-form-submit {
  @include button();
}