.contact-form-container {
  width: 90%;
  margin: auto;
  margin-top: 30px;

  @media (min-width: $medium-breakpoint) {
    width: 80%;
    margin: 10px auto;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-mail {
  margin-bottom: 20px;
}

.contact-form-message {
  margin-bottom: 20px;
  height: 200px;
}

.contact-form-submit {
  @include button();
}