#sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 0.5rem 1.25rem;
  background-color: $sidebar-bg-color;

  position: fixed;
  width: 100%;

  z-index: 1;

  .category-link, .page-link {
    color: $dark-gray;

    &:hover, &:focus {
      color: lighten( $dark-gray, 10% );
    }
  }

  > *:last-child {
    margin-bottom: 0.5rem;
  }

  @media (min-width: $medium-breakpoint) {
    width: $sidebar-width;
    padding: $section-spacing;
    padding-bottom: 1rem;
    position: initial;

    text-align: left;
    flex-direction: column;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-footer {
  display: none;

  .page-link {
    display: block;

    @media (min-width: $medium-breakpoint) {
      margin-top: 10px;
    }
  }

  @media (min-width: $medium-breakpoint) {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: auto;
    width: 100%;
  }
}

#sidebar a {
  svg {
    fill: $gray-5;
    stroke: $gray-5;
  }

  &:hover, &:focus, &.active {
    svg {
      fill: $gray-4;
      stroke: $gray-4;
    }
  }

  &:hover, &:focus {
    &.icon {
      text-decoration: none;
    }
  }

  &.active {
    font-weight: bold;
  }
}

#sidebar-nav-links {
  display: none;

  @media (min-width: $medium-breakpoint) {
    line-height: 1.75;
    display: flex;
    flex-flow: column nowrap;
  }
}

#sidebar-icon-links {
  width: 100%;
  display: flex;
  flex-wrap: inherit;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1rem;

  @media (min-width: $medium-breakpoint) {
    margin-left: -0.25em;
    line-height: 1.75;
    justify-content: space-around;
  }
}

#sidebar nav > .icon {
  font-size: 1.2rem;
  display: inline-block;
  margin: 0 0.25em;
}