.friend-container {
  max-width: 850px;
  margin: 0 auto 1rem;

  &:first-of-type { margin-top: 50px; }
}

.friend-link {
  color: inherit;
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-breakpoint) {
    flex-direction: row;
  }
}

.friend-cover-container {
  width: 100%;

  @media (min-width: $medium-breakpoint) {
    width: 250px;
  }
}

.friend-description {
  text-align: justify;

  @media (min-width: $medium-breakpoint) {
    margin-left: 30px;
  }
}

.friend-separator {
  border: 2px solid $gray-2;
  width: 60%;
  margin: 30px auto;
}

.friend-fake-link {
  color: var(--primary-color);
  float: right;
}