<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

    <meta name="author" content="Rémy Maucourt">
    <meta name="description" content="Site personnel de Rémy Maucourt: écriture, code, sculptures lumineuses et expérimentations diverses.">

    <title>À l'opposé du fascisme</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main_bpl.css" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/favicon.png" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
  </head>

  <body>
    <main class="bpl-main-container">
      <img src="{{ site.baseurl }}/assets/images/posts/{{ page.wide_cover }}" class="bpl-cover"/>
      <div class="bpl-content">

        <div class="bpl-post-header">
          <header class="bpl-main-title-container">
            <h1 class="bpl-main-title">{{ page.title }}</h1>
          </header>

          <div class="bpl-menu-container">
            <div class="bpl-menu">
              <a href="{{ site.baseurl }}/bpl#autonomie-alimentaire">1. Autonomie alimentaire</a>
              <a href="{{ site.baseurl }}/bpl#reseau">2. Réseau</a>
              <a href="{{ site.baseurl }}/bpl#radicalite">3. Radicalité</a>
              <a href="{{ site.baseurl }}/bpl#joie">4. Joie</a>
              <a href="{{ site.baseurl }}/bpl#perspectives">5. Perspectives</a>
              <a href="{{ site.baseurl }}/bpl#notes" class="bpl-menu-notes">Notes</a>
              <a href="{{ site.baseurl }}/bpl#bibliotheque">Bibliothèque</a>
              <a href="{{ site.baseurl }}/bpl#annexes">Annexes</a>
            </div>

            <div class="bpl-meta">
              <div class="bpl-signature">
                <div class="bpl-signature-name">Rémy Maucourt</div>
                <ul class="bpl-signature-links">
                  <li>
                    <a href="{{ site.baseurl }}/" target="_blank">Site perso</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/newsletter" target="_blank">Newsletter</a>
                  </li>
                  <li>
                    <a href="{{ site.mastodon_page }}" target="_blank">Mastodon</a>
                  </li>
                </ul>
              </div>

              <div class="bpl-meta-dates">
                <div class="bpl-meta-date">
                  Publié : {% include translated_date.html date=page.date format=site.short_date_format lang=fr %}
                </div>
                <div class="bpl-meta-date-updated">
                  Modifié : {% include translated_date.html date=page.date_updated format=site.short_date_format lang=fr %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bpl-post-body">
          {{ content }}
        </div>
      </div>
    </main>
  </body>
</html>
