---
layout: default
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<ul class="category-posts-list">
  {% assign category = page.category | default: page.title %}

  {% for post in site.categories[category] %}
    {% capture imagePath %}/assets/images/posts/{{ post.cover }}{% endcapture %}
    <li class='category-post-item'>
      <img src="{{ imagePath | absolute_url }}" />
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h3>
      <small>{% include translated_date.html date=post.date format=site.date_format lang='fr' %}</small>
    </li>
  {% endfor %}
</ul>
